<!DOCTYPE html>
<html>
  <head>
    <title>AddLift</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .custom-container {
            padding-left: 15%;
            padding-right: 15%;
        }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid custom-container">
      <h1 class="my-4">Add Entry</h1>
      <form method="post">
        <div class="form-group">
        <label for="date">Date (optional):</label>
        <input type="date" id="date" name="date" class="form-control" value="{{ current_date }}">
          <label for="lift">Lift:</label>
          <select id="lift" name="lift" class="form-control">
              <option value="SQUAT">SQUAT</option>
              <option value="OHP">OHP</option>
              <option value="DEADLIFT">DEADLIFT</option>
              <option value="ROW">ROW</option>
              <option value="BENCHPRESS">BENCHPRESS</option>
          </select>
        </div>
        <div class="form-group">
          <label for="weight">Weight:</label>
          <input type="number" id="weight" name="weight" class="form-control">
        </div>
        <div class="form-group">
          <label for="sets">Sets:</label>
          <input type="number" id="sets" name="sets" class="form-control">
        </div>
        <div class="form-group">
          <label for="reps">Reps:</label>
          <input type="number" id="reps" name="reps" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
