<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lift Log</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
    <div class="container">
        <h1 class="my-4">Lift Log</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Lift</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Sets</th>
                    <th scope="col">Reps</th>
                </tr>
            </thead>
            <tbody>
                {% for logline in data %}
                    <tr>
                        <td>{{ logline.date }}</td>
                        <td>{{ logline.lift }}</td>
                        <td>{{ logline.weight }} lbs</td>
                        <td>{{ logline.sets }}</td>
                        <td>{{ logline.reps }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>