<!DOCTYPE html>
<html>
  <head>
    <title>Lift Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1 class="my-4">5x5 Stronglift Program</h1>
      <div class="row">
        <select id="workout-dropdown" class="form-control mb-3">
          <option value="">Choose a workout</option>
          <option value="A">Workout A</option>
          <option value="B">Workout B</option>
      </select>      
        <div class="col-md-6" id="lift-entry-forms">
          <!-- Lift entry forms will be generated here -->
        </div>
        <div class="col-md-6">
            <h5 id="your-lifts" style="display: none;">Your Lifts:</h5>
          <div id="charts-container">
            <!-- Lift charts will be generated here -->
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const workoutALifts = ['SQUAT', 'BENCHPRESS', 'ROW'];
        const workoutBLifts = ['SQUAT', 'OHP', 'DEADLIFT'];

        function createChart(ctx, labels, data) {
          const minWeight = Math.min(...data) - 10;
            const dateObjects = labels.map(label => new Date(label));
            const stepSize = Math.ceil(dateObjects.length / 10);
            const simplifiedLabels = dateObjects.map((label, index) => {
                if (index % stepSize === 0) {
                    return label.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit' });
                } else {
                    return '';
                }
            });

            return new Chart(ctx, {
                type: 'line',
                data: {
                    labels: simplifiedLabels,
                    datasets: [{
                        label: 'Weight',
                        data: data,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: true,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            min: minWeight
                        }
                    }
                }
            });
        }

        function createLiftEntryForm(liftName) {
        return `
            <form class="lift-session-form mb-4" data-lift="${liftName}">
                <h5>${liftName}</h5>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <label for="${liftName}-weight">Weight:</label>
                    <input type="number" class="form-control" id="${liftName}-weight" name="weight">
                </div>
                <div class="form-group">
                    <label for="${liftName}-reps">Reps:</label>
                    <input type="number" class="form-control" id="${liftName}-reps" name="reps">
                </div>
                <div class="form-group">
                    <label for="${liftName}-sets">Sets:</label>
                    <input type="number" class="form-control" id="${liftName}-sets" name="sets">
                </div>
                <button type="submit" class="btn btn-primary">Add Entry</button>
            </form>
        `;
    }


        function updateLiftFormsAndCharts(workoutLifts) {
            const liftEntryFormsContainer = document.getElementById('lift-entry-forms');
            const chartsContainer = document.getElementById('charts-container');

            liftEntryFormsContainer.innerHTML = workoutLifts.map(createLiftEntryForm).join('');
            chartsContainer.innerHTML = '';

            workoutLifts.forEach(lift => {
                const liftData = lift_data.find(item => item.lift_name === lift);
                const ctx = document.createElement('canvas');
                ctx.id = `${lift}-chart`;
                ctx.classList.add('chart');
                chartsContainer.appendChild(ctx);
                createChart(ctx.getContext('2d'), liftData.dates, liftData.weights);
            });

            document.querySelectorAll('.lift-session-form').forEach(form => {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();

                    const liftName = this.dataset.lift;
                    const weight = this.querySelector('input[name="weight"]').value;
                    const reps = this.querySelector('input[name="reps"]').value;
                    const sets = this.querySelector('input[name="sets"]').value;

                    if (liftName && weight && reps && sets) {
                        fetch('/addentry', {
                            method: 'POST',
                            body: JSON.stringify({
                                lift: liftName,
                                weight: weight,
                                reps: reps,
                                sets: sets,
                                date: null // You can also get the date from the form if needed
                            }),
                            headers: {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                'X-CSRFToken': this.querySelector('input[name="csrf_token"]').value
                            },
                            credentials: 'same-origin'
                        }).then(response => {
                            if (response.ok) {
                                const successMessage = this.querySelector('.success-message');
                                successMessage.textContent = `${liftName} entry added successfully!`;
                                successMessage.style.display = 'block';

                                this.querySelector('input[name="weight"]').value = '';
                                this.querySelector('input[name="reps"]').value = '';
                                this.querySelector('input[name="sets"]').value = '';

                                setTimeout(() => {
                                successMessage.style.display = 'none';
                                }, 3000);
                            } else {
                                alert('Failed to add entry. Please try again.');
                            }
                        }).catch(error => {
                            console.error('Error:', error);
                            alert('Failed to add entry. Please try again.');
                        });
                    } else {
                        alert('Please fill out all fields.');
                    }
                });
            });
            document.getElementById('your-lifts').style.display = 'block';
        }

        document.getElementById('workout-dropdown').addEventListener('change', function () {
            const workout = this.value;

            if (workout === 'A') {
                updateLiftFormsAndCharts(workoutALifts);
            } else if (workout === 'B') {
                updateLiftFormsAndCharts(workoutBLifts);
            } else {
                document.getElementById('lift-entry-forms').innerHTML = '';
                document.getElementById('charts-container').innerHTML = '';
                document.getElementById('your-lifts').style.display = 'none';

            }
        });

        const initialLiftData = {{ lift_data | tojson }};
    </script>
    <script>
        function submitHandler(event) {
            event.preventDefault();
            const form = event.target;
            const liftName = form.dataset.lift;
            const weight = form.querySelector('input[name="weight"]').value;
            const reps = form.querySelector('input[name="reps"]').value;
            const sets = form.querySelector('input[name="sets"]').value;
            const csrfToken = form.querySelector('input[name="csrf_token"]').value;
    
            let data = {
                lift: liftName,
                weight: weight,
                reps: reps,
                sets: sets,
                date: null
            };
    
            $.ajax({
                type: "POST",
                url: "/addentry",
                data: JSON.stringify(data),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                },
                success: function (response) {
                    console.log(response);
                    if (response.status === "success") {
                        location.reload();
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                    console.error("Status:", status);
                    console.error("XHR:", xhr);
                    alert("Error: " + error + "\nStatus: " + status);
                }  
            });
        }
    
        // Attach the submitHandler to the form's submit event
        $(document).on('submit', '.lift-session-form', submitHandler);
    </script>

</body>
</html>
